.newsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;

  .newsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    justify-items: center;
    align-content: center;

    // .title {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   padding: 0 2rem;

    //   h1 {
    //     color: var(--primary);
    //     text-transform: uppercase;
    //     font-size: 2rem;
    //     font-weight: 800;
    //     text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
    //     margin-bottom: 0.75rem;
    //   }

    //   h2 {
    //     font-size: 1.5rem;
    //     font-weight: 600;
    //     margin-left: 1.5rem;
    //     width: 100%;
    //     line-height: 1.2;
    //   }
    // }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 0 2rem;

      h2 {
        font-size: 2.25rem;
        font-weight: 300;
        // margin-left: 1.5rem;
        // width: 90%;
        line-height: 0.7;
        // text-align: center;

        &:last-child {
          color: var(--secondary);
          font-size: 2.5rem;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }

  .pagination {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;

    .navibationBtn {
      padding: 0.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1em solid var(--secondary);

      svg {
        font-size: 1rem;
        color: var(--secondary);
      }
    }

    .pageBtn {
      height: 2.15rem;
      width: 2.15rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1em solid var(--secondary);
    }

    .activePageBtn {
      background-color: var(--secondary);
      color: var(--white);
    }
  }
}

@media screen and (max-width: 1100px) {
  .newsPage {
    .newsGrid {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .newsPage {
    .newsGrid {
      grid-template-columns: 1fr;

      .title {
        text-align: center;
        
        margin-bottom: 1rem;

        h2{
          margin-left: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .newsPage {
    padding: 2rem 1rem;

    .newsGrid{

      
      .title{
        padding: 2rem 0;
      }
    }
  }
}