.academyBanner {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin-top: 2rem;
  position: relative;
  // background-color: red;
  // z-index: 100;

  img {
    position: relative;
    height: auto;
    width: 100%;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust the height of the gradient overlay as needed */
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none; /* Ensure the overlay doesn't interfere with interactions */
    z-index: 2;
  }
}

.academyPage {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  gap: 4rem;
  overflow: hidden;

  h1 {
    // font-size: 2rem;
    // font-weight: 700;
    // text-transform: uppercase;
    // color: var(--primary);
    // letter-spacing: -2px;
    // text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
    // align-self: flex-start;
    // margin-bottom: 2rem;
    // font-size: 2rem;
    // font-weight: 300;
    // color: var(--secondary);
    // margin-left: 1.5rem;
    // width: 90%;
    // line-height: 0.7;
    // text-align: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;

    h1 {
      font-size: 2rem;
      font-weight: 300;
      // margin-left: 1.5rem;
      // width: 90%;
      line-height: 0.7;
      // text-align: center;

      &:nth-child(2n) {
        color: var(--secondary);
        font-size: 2.25rem;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  section {
    display: flex;
    gap: 4rem;

    .text {
      width: auto;
      display: flex;
      align-items: center;

      p {
        margin-top: 2rem;
        width: 70%;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 300;
      }

      &:first-child {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .carousel {
      width: fit-content;
      padding-right: 6rem;
      // display: flex;
      // justify-content: center;
    }
  }

  .news {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      // font-size: 2rem;
      // font-weight: 700;
      // text-transform: uppercase;
      // color: var(--primary);
      // letter-spacing: -2px;
      // text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
      // // margin-left: 2rem;
      // margin-bottom: 2rem;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 300;
      // color: var(--secondary);
      // margin-left: 1.5rem;
      // width: 90%;
      line-height: 0.7;
    }

    .articles {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  .creatorTestemonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 4rem;
    // padding: 0 2rem;

    // h1 {
    //   // font-size: 2rem;
    //   // font-weight: 700;
    //   // text-transform: uppercase;
    //   // color: var(--primary);
    //   // letter-spacing: -2px;
    //   // text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
    //   // margin-bottom: 2rem;
    //   margin-bottom: 2rem;
    //   font-size: 2rem;
    //   font-weight: 300;
    //   // color: var(--secondary);
    //   // margin-left: 1.5rem;
    //   // width: 90%;
    //   line-height: 0.7;

    //   &:last-child {
    //     color: var(--secondary);
    //     font-size: 2.25rem;
    //     font-weight: 500;
    //     font-family: "Open Sans", sans-serif;
    //   }
    // }
    // .title {
    //   display: flex;
    //   flex-direction: column;
    //   // justify-content: center;
    //   width: 100%;

    //   h1 {
    //     font-size: 2rem;
    //     font-weight: 300;
    //     // margin-left: 1.5rem;
    //     // width: 90%;
    //     line-height: 0.7;
    //     // text-align: center;

    //     &:last-child {
    //       color: var(--secondary);
    //       font-size: 2.25rem;
    //       font-weight: 500;
    //       font-family: "Open Sans", sans-serif;
    //     }
    //   }
    // }

    .academyCreators {
      display: flex;
      justify-content: center;
      gap: 5rem;

      .creatorCard {
        width: 15rem;
        display: flex;
        flex-direction: column;
        height: fit-content;

        .image {
          width: 15rem;
          height: 22.5rem;
          margin-bottom: 2rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }

        h2 {
          font-weight: 400;
          font-size: 1.25rem;
          text-align: center;
        }
      }
    }
  }

  .sponsors {
    display: flex;
    // flex-direction: column;
    width: 100%;
    // max-width: 30rem;
    gap: 4rem;
    padding: 2rem;

    .sponsorColumn {
      width: 100%;
      display: flex;
      align-items: center;
      // justify-content: center;
      flex-direction: column;
      flex: 1;
      gap: 2rem;

      .text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

        ul {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
          gap: 0.5rem;
          margin-top: 0.5rem;
        }
      }

      .logo {
        min-height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .powered {
          height: 10rem;
          width: auto;
        }

        .supported {
          height: 6rem;
          width: auto;
        }
      }
    }
  }

  .banner {
    width: 36rem;
    max-width: 95%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 900px) {
  .academyPage {
    section {
      flex-direction: column;
      align-items: center;

      .text {
        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .academyPage {
    section {
      .carousel {
        padding-right: 0;
      }
    }
    .sponsors {
      flex-direction: column;
      padding: 0;
    }

    .creatorTestemonials {
      .title {
        text-align: center;
      }

      .academyCreators {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }
    }
  }
}
