.imageCard {
  height: 300px;
  width: 300px;
  background: rgb(12, 75, 245);
  background: -moz-linear-gradient(
    90deg,
    rgba(12, 75, 245, 0.1) 25%,
    rgba(141, 100, 191, 0.3) 65%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(12, 75, 245, 0.1) 25%,
    rgba(141, 100, 191, 0.3) 65%
  );
  background: linear-gradient(
    90deg,
    rgba(12, 75, 245, 0.1) 25%,
    rgba(141, 100, 191, 0.3) 65%
  );
  // border: 0.01em solid var(--secondary);
  border-radius: 0.5rem;
  


  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.9;
  }
  img {
    z-index: 2;
  }
}

@media screen and (max-width: 500px){
  .imageCard{
    height: 250px;
    width: 250px;
  }
}