.swiper {
  width: 250px;
  height: 444px;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  // z-index: 10;
  // padding: 1rem;
}
