.creatorsPage {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;

  .getToKnow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 3rem;

    .text {
      width: 100%;
      max-width: 50rem;
      text-align: center;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 2rem;

      p {
        width: 90%;
        line-height: 1.6;
        font-weight: 300;
      }

      .borderLeft {
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 1px;
        background-color: var(--secondary);
      }
  
      .borderTop {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 30%;
        background-color: var(--secondary);
      }
  
      .borderRight {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50%;
        width: 1px;
        background-color: var(--secondary);
      }
  
      .borderBottom {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 30%;
        background-color: var(--secondary);
      }
    }

    .getToKnowContainer {
      width: 100%;
      max-width: 800px;
      // max-width: 50rem;
      // height: 21.25rem;
      // aspect-ratio: 16/9;
      // height: 15rem;
      // background: rgb(221, 148, 216);
      // background: -moz-linear-gradient(
      //   17deg,
      //   rgba(221, 148, 216, 1) 22%,
      //   rgba(163, 150, 224, 1) 62%,
      //   rgb(151, 159, 230) 81%
      // );
      // background: -webkit-linear-gradient(
      //   17deg,
      //   rgba(221, 148, 216, 1) 22%,
      //   rgba(163, 150, 224, 1) 62%,
      //   rgba(151, 159, 230, 1) 81%
      // );
      // background: linear-gradient(
      //   17deg,
      //   rgba(221, 148, 216, 1) 22%,
      //   rgba(163, 150, 224, 1) 62%,
      //   rgba(151, 159, 230, 1) 81%
      // );
      // border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 2rem;
      overflow: hidden;
      position: relative;
      padding: 4rem 0;

      h1 {
        font-size: 3rem;
        font-weight: 300;
        // margin-left: 1.5rem;
        // width: 90%;
        line-height: 0.7;
        // text-align: center;

        &:last-child {
          color: var(--secondary);
          font-size: 3.25rem;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
        }
      }

      img {
        position: absolute;
        top: 4rem;
        left: -5rem;
        opacity: 0.3;
        transform: rotate(35deg);

        &:last-child {
          top: 1rem;
          left: unset;
          right: -8rem;
          transform: rotate(-25deg);
        }
      }
    }
  }

  .creatorsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;

    .creatorRow {
      width: 100%;
      max-width: 1000px;
      display: flex;
      padding: 0 2rem;
      gap: 2rem;
      align-items: center;

      .image {
        height: 17rem;
        width: 17rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;

        .frame {
          height: 17rem;
          width: 17rem;
          object-fit: cover;
          transform: scale(1.1);
        }
      }

      .content {
        width: calc(1000px - 12rem);
        // flex: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0;
        gap: 0.5rem;

        h1 {
          font-size: 1.5rem;
          font-weight: 700;
          color: var(--primary);
          text-transform: uppercase;
          text-shadow: 1px 1px 2px rgba(28, 17, 66, 0.4);
        }

        h3 {
          text-transform: uppercase;
          color: var(--secondary);
          font-weight: 600;
        }

        p {
          // font-size: 1.2rem;
          font-weight: 300;
          text-align: start;
          line-height: 1.2;
        }

        a {
          margin-top: 1rem;
          font-size: 0.9rem;
          width: fit-content;
          position: relative;
          color: var(--white);
          text-decoration: none;
          background-color: var(--secondary);
          padding: 0.5rem 1.5rem;
          border-radius: var(--radius);
          border: 1px solid var(--secondary);
          transition: all 300ms ease;

          &:hover {
            background-color: var(--white);
            color: var(--secondary);
            // border-color: var(--secondary);
          }

          // &::after {
          //   content: "";
          //   position: absolute;
          //   width: 100%;
          //   transform: scaleX(0);
          //   height: 0.075em;
          //   bottom: -2px;
          //   left: 0;
          //   background-color: var(--secondary);
          //   transform-origin: bottom right;
          //   transition: transform 300ms ease-out;
          // }

          // &:hover::after {
          //   transform: scaleX(1);
          //   transform-origin: bottom left;
          // }
        }
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;

        .content {
          align-items: flex-end;

          p {
            text-align: end;
          }
        }
      }
    }
  }
}

.joinOurTeam {
  width: 100%;
  // background-color: var(--secondary);
  background: rgb(221, 148, 216);
  background: -moz-linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgb(151, 159, 230) 81%
  );
  background: -webkit-linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgba(151, 159, 230, 1) 81%
  );
  background: linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgba(151, 159, 230, 1) 81%
  );
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 4rem 0;

  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 2rem;
    padding: 0 2rem;

    h1 {
      font-size: 2rem;
      // text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    p {
      width: 80%;
      text-align: center;
      font-weight: 300;
    }

    a {
      background-color: var(--white);
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      width: fit-content;
      text-transform: uppercase;
      font-weight: 500;
      color: var(--black);
      margin-top: 1rem;
      transition: all 300ms ease;

      &:hover {
        background-color: var(--secondary);
        color: var(--white);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .creatorsPage {
    .creatorsList {
      .creatorRow {
        flex-direction: column;
        gap: 0;
        padding: 0 2rem 2rem;

        .content {
          width: 100%;
        }

        &:nth-child(2n) {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .creatorsPage {
    gap: 3rem;

    .getToKnow {
      padding: 0 1rem;
      margin-bottom: 2rem;

      .text {
        max-width: unset;

        p {
          width: 100%;
          line-height: 1.4;
        }
      }
    }

    .creatorsList {
      gap: 3.5rem;
      .creatorRow {
        padding: 0 1rem 2rem;
      }
    }
  }
}
