.clientRow {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  .row {
    // position: absolute;
    // left: 0;
    display: flex;
    gap: 2rem;
    width: 100%;

  }
}