.logoRowContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
  background-color: #f0f0f0;

  .logoRow {
    display: flex;
    gap: 4rem;
    width: max-content;
    animation: scroll 120s linear infinite;

    &:nth-child(2){
      padding-left: 5rem;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    img {
      height: 3rem;
      width: auto;
    }
  }
}

.clientRow {
  overflow: hidden;
  width: 100%;
  position: relative;

  .row {
    display: flex;
    width: max-content;
    gap: 2rem;
  }

  .row1 {
    animation: scroll 90s linear infinite;
  }

  .row2 {
    animation: scroll 75s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  &:hover .row {
    animation-play-state: paused;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 500px) {
  .clientRow {
    .row1 {
      animation: scroll 60s linear infinite;
    }

    .row2 {
      animation: scroll 50s linear infinite;
    }
    &:hover .row {
      animation-play-state: unset;
    }
  }
}
