.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;

  footer {
    flex: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 4rem 2rem;

    .logos {
      flex: 3;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5rem;

      .image {
        width: 16rem;
        height: auto;
        position: relative;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .links {
      flex: 5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .column {
        // flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h3 {
          font-size: 1.15rem;
          font-weight: 700;
          color: var(--primary);
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }

        a {
          width: fit-content;
          position: relative;
          color: var(--primary);
          text-decoration: none;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 0.075em;
            bottom: -2px;
            left: 0;
            background-color: var(--secondary);
            transform-origin: bottom right;
            transition: transform 300ms ease-out;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }

  .copy {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);

    p {
      font-size: 0.85rem;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    footer {
      .links {
        flex: 3;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    footer {
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      .logos {
        flex: unset;
        justify-content: center;
        align-items: center;
      }

      .links {
        flex: unset;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-top: 2rem;
    footer {
      .logos {
        .image {
          width: 80%;
        }
      }

      .links {
        grid-template-columns: 1fr;
        width: 80%;
      }
    }
  }
}
