.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  .contactContainer {
    width: 100%;
    max-width: 50rem;
    height: fit-content;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    padding: 2rem;

    // h1 {
    //   font-size: 2rem;
    //   text-transform: uppercase;
    //   font-weight: 600;
    //   color: var(--white);
    //   text-align: center;
    //   line-height: 1.1;
    //   letter-spacing: -1px;
    // }

    .title {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      width: 100%;

      h1 {
        font-size: 3.25rem;
        font-weight: 300;
        // margin-left: 1.5rem;
        // width: 90%;
        line-height: 0.7;
        text-align: center;

        &:last-child {
          color: var(--secondary);
          font-size: 3.5rem;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
        }
      }
    }

    a {
      width: fit-content;
      position: relative;
      color: var(--black);
      text-decoration: none;
      // font-size: 1.25rem;
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 0.075em;
        bottom: -2px;
        left: 0;
        background-color: var(--secondary);
        transform-origin: bottom right;
        transition: transform 300ms ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    .borderLeft {
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 1px;
      background-color: var(--secondary);
    }

    .borderTop {
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 30%;
      background-color: var(--secondary);
    }

    .borderRight {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50%;
      width: 1px;
      background-color: var(--secondary);
    }

    .borderBottom {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 30%;
      background-color: var(--secondary);
    }
  }
}

@media screen and (max-width: 500px) {
  .contact {
    padding: 0;

    .contactContainer {
      max-width: unset;
      min-height: 14rem;

      .title {
        h1 {
          font-size: 2rem;
         

          &:last-child {
            font-size: 2.25rem;
          }
        }
      }
    }
  }
}
