.modal {
  width: 50rem;
  max-width: 95%;
  height: fit-content;
  max-height: 80vh;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 4rem;
  background: rgb(221, 148, 216);
  background: -moz-linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgb(151, 159, 230) 81%
  );
  background: -webkit-linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgba(151, 159, 230, 1) 81%
  );
  background: linear-gradient(
    17deg,
    rgba(221, 148, 216, 1) 22%,
    rgba(163, 150, 224, 1) 62%,
    rgba(151, 159, 230, 1) 81%
  );
  -webkit-box-shadow: 2px 2px 11px 5px rgba(221, 148, 216, 0.4);
  -moz-box-shadow: 2px 2px 11px 5px rgba(221, 148, 216, 0.4);
  box-shadow: 2px 2px 11px 5px rgba(221, 148, 216, 0.4);
  flex-direction: column;
  z-index: 10001;
  color: white;
  border-radius: var(--radius);
  overflow: hidden;

  .modalContent {
    overflow-y: auto;
    margin-bottom: 1rem;
    max-height: calc(100% - 3rem);
  }

  button {
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 300 !important;
    line-height: 1.4 !important;
    font-size: 1rem !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    padding: 1rem 1rem;

    .modalContent {
      max-height: calc(100% - 4rem);
    }

    p {
      font-size: 0.9rem;
      line-height: 1.3;
    }
  }
}
