.modalWhite {
  width: 50rem;
  max-width: 95%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 4rem;
  background-color: #fff !important;
  flex-direction: column;
  z-index: 10001;
  color: var(--primary);
  border-radius: var(--radius);
  overflow-y: auto;

  button {
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 300 !important;
    line-height: 1.4 !important;
    font-size: 1rem !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    padding: 1rem 1rem 2rem;
    max-height: 80vh !important;

    p {
      font-size: 0.9rem;
      line-height: 1.3;
    }
  }
}
