.modalWhite {
  width: 50rem;
  max-width: 95%;
  height: fit-content;
  max-height: 80vh;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 4rem;
  background-color: #fff !important;
  flex-direction: column;
  z-index: 10001;
  color: var(--primary);
  border-radius: var(--radius);
  overflow: hidden;

  .modalContent {
    overflow-y: auto;
    margin-bottom: 1rem;
    max-height: calc(100% - 3rem);
  }

  button {
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 300 !important;
    line-height: 1.4 !important;
    font-size: 1rem !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    padding: 1rem 1rem 2rem;

    .modalContent {
      max-height: calc(100% - 4rem);
    }

    p {
      font-size: 0.9rem;
      line-height: 1.3;
    }
  }
}
