.creatorCarousel {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  .carouselImage {
    height: 18rem;
    width: 18rem;
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.creatorNavigation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-top: 0.5rem;

  .swipeArrow {
    font-size: 1.25rem;
    color: var(--secondary); // Set the color of the arrow
    // cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .navButton {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    transition: all 300ms ease;
    cursor: pointer;

    svg {
      color: #939292;
    }

    &:hover {
      background-color: #d6d6d6;

      svg {
        color: #fff;
      }
    }
  }
}

.creatorSwiper {
  height: 18rem;
  width: 18rem;
  // transform: scale(0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatorSwiperSlide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 1rem;
  // z-index: 10;
  // padding: 1rem;
  background-color: #fff !important;
  // border: 1px solid var(--secondary);
  // border-radius: 0.5rem;
}

// .custom-slide {
//   background-color: white !important; // Set the background color for the slides
//   transition: background-color 0.3s ease; // Add a transition for a smooth effect
// }

// .custom-slide.swiper-slide-prev,
// .custom-slide.swiper-slide-next {
//   background-color: white !important; // Set the background color for the previous and next slides
// }

// .swiper-cards {
//   background-color: white !important;
// }

// .swipeArrow {
//   // position: absolute;
//   // top: 50%;
//   // right:1rem;
//   // transform: translateY(-50%);
//   font-size: 1.5rem;
//   color: var(--secondary); // Set the color of the arrow

//   // Animation for moving right and back
//   @keyframes moveRightBack {
//     0%, 100% {
//       transform: translateX(0);
//     }
//     50% {
//       transform: translateX(10px); // Adjust the distance the arrow moves right
//     }
//   }

//   // Apply the animation
//   animation: moveRightBack 2s infinite;
// }
// .creatorNavigation {
//   position: fixed;
//   top: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 100%;
//   padding: 0 20px;
//   z-index: 999;
// }

.swipeArrowLeft {
  animation: arrowMoveLeft 3s infinite;
}

.swipeArrowRight {
  animation: arrowMoveRight 3s infinite;
}


@keyframes arrowMoveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-7px); // Adjust the distance the arrow moves left
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrowMoveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px); // Adjust the distance the arrow moves right
  }
  100% {
    transform: translateX(0);
  }
}
