.moviesSwiper {
  width: 450px;
  height: 350px;

  .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    text-align: center;
    border-radius: 50%;
    color: #000;
    opacity: 1;
    background: rgba(126, 41, 228, 0.5);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--secondary);
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #afaeae;
  }

  .moviesSlide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    a {
      width: 100% !important;
      height: 100% !important;
      cursor: pointer !important;
      z-index: 100;
      aspect-ratio: 1200/627;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        width: auto;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        aspect-ratio: 1200/627;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .moviesSwiper {
    width: 100%;
    height: 13rem;
  
    
    .swiper-pagination-bullet {
      width: 0.5rem;
      height: 0.5rem;
      text-align: center;
      border-radius: 50%;
      color: #000;
      opacity: 1;
      background: rgba(255, 255, 255, 0.5);
    }
  
    .swiper-pagination-bullet-active {
      color: #d6d6d6;
      background: #d6d6d6;
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: #d6d6d6;
    }
  }
}